* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f6eee0;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  padding-bottom: 10px;
  color: #a45c40;
  border-bottom: 3px dotted #c38370;
}
.library {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin: 20px;
  padding: 20px 0px 20px 0px;
  width: 275px;
  height: 325px;
  border: 3px solid #a45c40;
  border-radius: 5px;
  background-color: #e4b7a0;
  box-shadow: 3px 3px 5px #b4b4b4;
}

.book-card p {
  padding-left: 20px;
  font-size: 14px;
  margin-bottom: 25px;
  color: black;
  font-weight: bold;
  line-height: 1.3rem;
  background-color: #e4b7a0;
}

.book-card span {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  left: 35%;
  background-color: #e4b7a0;
  text-decoration: underline 3px solid #a45c40;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.add-book {
  margin: 20px 0 10px 0;
  font-size: 14px;
  padding: 12px 29px;
  border-radius: 5px;
  background-color: #c38370;
  color: white;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}

.add-book:hover {
  transition: 0.3s;
  background-color: #a45c40;
}

::backdrop {
  background-color: #e4b7a040;
}

dialog {
  margin: auto;
  width: 300px;
  height: 400px;
  background-color: #a45c40;
  border: 3px solid white;
  border-radius: 5px;
}

.close-btn {
  padding: 7px 18px;
  font-size: 20px;
  background-color: #e4b7a0;
  color: black;
  font-weight: 900;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: 5px;
}

.close-btn:hover {
  transition: 0.3s;
  background-color: #ff605c;
}

form {
  background-color: #a45c40;
  padding: 15px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

label {
  color: #f6eee0;
  background-color: #a45c40;
  text-align: center;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

input {
  height: 30px;
  outline: none;
  font-size: 18px;
  padding: 2px 0 2px 8px;
  border: none;
  background-color: #f6eee0;
}

input:focus {
  background-color: #e6dfd2;
}

.form-slot {
  display: flex;
  flex-direction: column;
}

.add-new-book {
  width: 70%;
  margin-top: 10px;
  padding: 10px 30px;
  align-self: center;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #e6dfd2;
  color: #a45c40;
}

.add-new-book:hover {
  transition: 0.3s;
  opacity: 0.9;
  color: black;
}

.read-status-btn,
.remove-book-btn {
  width: 80%;
  align-self: center;
  padding: 10px 30px;
  margin: 15px 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #f6eee0;
  color: black;
}

.read-status-btn:hover {
  opacity: 0.85;
  transition: 0.2s;
}

.read-status-btn:focus {
  color: white;
}

.remove-book-btn:hover {
  background-color: #ff3d41;
  color: white;
  transition: 0.2s;
}
